body {
    margin: 0;
}

nav {
    background: linear-gradient(35deg, teal 50%, black 90%);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 20%;
}

aside button {
    background: rgb(13, 133, 245);
    color: white;
    margin: 10px 0;
    border-radius: 4px;
}

hr {
    background: silver;
    width: 100%;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#history button {
    background: silver;
    color: #000;
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 75%;
};

#current {
    border: 2px solid black;
    padding: 10px;   
}

#current h3, h5 {
    margin: 10px;
}

#forecast {
    display: flex;
}

.card {
    background: black;
    color: white;
    width: 18%;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}